<h1>maya ghajghouj 201820042</h1>

<h1>download all libraries</h1>

In [39]:
import pandas as pd
import re 
from snowballstemmer import stemmer
import arabicstopwords.arabicstopwords as stp

for initilize pyterrir library we need jdk

In [40]:
import os
java_home = os.environ.get('JAVA_HOME', None)
if not java_home:
    java_path ='C:\\Program Files\\Java\\jdk-20\\bin'
    os.environ['JAVA_HOME'] = java_path
else:
    print(java_home)

C:\Program Files\Java\jdk-20\bin

In [41]:
import pyterrier as pt
if not pt.started():
    pt.init()

In [42]:
d0="هذا هو الدرس الأول  من مقرر استرجاع المعلومات"
d1="المقرر موجه لطلاب جامعة القلمون كلية الهندسة قسم تقانة المعلومات المعلومات"
d2 ="رمز المقرر هو ENIT5517 "
d3 = "نأمل أن نقدم لكم الفائدة المرجوة"
d4 = "نرحب بأسئلتكم واستفساراتكم"
collection = [
["d0", d0],
["d1", d1],
["d2", d2],
["d3", d3],
["d4", d4]
]

In [43]:
docs_df=pd.DataFrame(data= collection,columns=["docno","raw_text"])

In [44]:
docs_df.head()

  docno                                           raw_text
0    d0      هذا هو الدرس الأول  من مقرر استرجاع المعلومات
1    d1  المقرر موجه لطلاب جامعة القلمون كلية الهندسة ق...
2    d2                            رمز المقرر هو ENIT5517
3    d3                   نأمل أن نقدم لكم الفائدة المرجوة
4    d4                         نرحب بأسئلتكم واستفساراتكم

In [45]:
print(docs_df.shape)

(5, 2)

<h2>1)remove stopWords</h2>

In [46]:
def remove_stopWords(sentence):
    terms=''
    stopwords=set(stp.stopwords_list())
    for term in sentence.split():
        if term not in stopwords:
          terms+=" "+term
            
    return terms

In [47]:
docs_df["text"]=docs_df["raw_text"].apply(remove_stopWords)

In [48]:
docs_df.head()

,docno,raw_text,text
0,d0,هذا هو الدرس الأول من مقرر استرجاع المعلومات,الدرس الأول مقرر استرجاع المعلومات
1,d1,المقرر موجه لطلاب جامعة القلمون كلية الهندسة ق...,المقرر موجه لطلاب جامعة القلمون كلية الهندسة ...
2,d2,رمز المقرر هو ENIT5517,رمز المقرر ENIT5517
3,d3,نأمل أن نقدم لكم الفائدة المرجوة,نأمل نقدم الفائدة المرجوة
4,d4,نرحب بأسئلتكم واستفساراتكم,نرحب بأسئلتكم واستفساراتكم

<h2>2)Normalization</h2>

In [49]:
def normalize(text):
    text=re.sub("[أإآ]","ا",text)
    text=re.sub("ى","ي",text)
    text=re.sub("[ؤئ]","ء",text)
    text=re.sub("ة","ه",text)
    return text

In [50]:
docs_df["text"]=docs_df["text"].apply(normalize)

In [51]:
docs_df.head()

,docno,raw_text,text
0,d0,هذا هو الدرس الأول من مقرر استرجاع المعلومات,الدرس الاول مقرر استرجاع المعلومات
1,d1,المقرر موجه لطلاب جامعة القلمون كلية الهندسة ق...,المقرر موجه لطلاب جامعه القلمون كليه الهندسه ...
2,d2,رمز المقرر هو ENIT5517,رمز المقرر ENIT5517
3,d3,نأمل أن نقدم لكم الفائدة المرجوة,نامل نقدم الفاءده المرجوه
4,d4,نرحب بأسئلتكم واستفساراتكم,نرحب باسءلتكم واستفساراتكم

<h2>3)Stemmers</h2>

In [52]:
ar_stemmer=stemmer("arabic")

In [53]:
def stem(sentence):
    m=''
    for term in sentence.split():
        m+=' '+ar_stemmer.stemWord(term)
    return m

In [54]:
docs_df["text"]=docs_df["text"].apply(stem)

In [55]:
docs_df.head()

,docno,raw_text,text
0,d0,هذا هو الدرس الأول من مقرر استرجاع المعلومات,درس اول مقرر استرجاع معلوم
1,d1,المقرر موجه لطلاب جامعة القلمون كلية الهندسة ق...,مقرر موج لطلاب جامع قلم كلي هندسه قسم تقان مع...
2,d2,رمز المقرر هو ENIT5517,رمز مقرر ENIT5517
3,d3,نأمل أن نقدم لكم الفائدة المرجوة,نامل نقدم فاءده مرجوه
4,d4,نرحب بأسئلتكم واستفساراتكم,نرحب باسءل واستفسارا

In [56]:
m=docs_df['text'].tolist()
print(m)

[' درس اول مقرر استرجاع معلوم', ' مقرر موج لطلاب جامع قلم كلي هندسه قسم تقان معلوم معلوم', ' رمز مقرر ENIT5517', ' نامل نقدم فاءده مرجوه', ' نرحب باسءل واستفسارا']

In [57]:
mydf=pd.DataFrame(data=docs_df,columns=['docno','text'])
mydf.head()

  docno                                               text
0    d0                         درس اول مقرر استرجاع معلوم
1    d1   مقرر موج لطلاب جامع قلم كلي هندسه قسم تقان مع...
2    d2                                  رمز مقرر ENIT5517
3    d3                              نامل نقدم فاءده مرجوه
4    d4                               نرحب باسءل واستفسارا

<h1> indexer building</h1>

In [58]:
pd_indexer = pt.DFIndexer("..\\myindex",overwrite=True)
pd_indexer.setProperty("tokeniser", "UTFTokeniser")
index_ref = pd_indexer.index(docs_df["text"],docs_df["docno"])

C:\Users\asus\AppData\Local\Temp\ipykernel_1940\1645669614.py:3: DeprecationWarning: Setting of tokeniser property directly is deprecated
  index_ref = pd_indexer.index(docs_df["text"],docs_df["docno"])
c:\Users\asus\AppData\Local\Programs\Python\Python310\lib\site-packages\pyterrier\index.py:628: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, value in meta_column[1].iteritems():

12:00:34.206 [main] ERROR org.terrier.structures.indexing.Indexer - Could not rename index
java.io.IOException: Rename of index structure file '..\myindex/data_1.direct.bf' (exists) to '..\myindex/data.direct.bf' (exists) failed - likely that source file is still open. Possible indexing bug?
	at org.terrier.structures.IndexUtil.renameIndex(IndexUtil.java:379)
	at org.terrier.structures.indexing.Indexer.index(Indexer.java:388)
	at org.terrier.structures.indexing.Indexer.index(Indexer.java:355)

In [59]:
print(index_ref.toString())

..\myindex/data.properties

In [60]:
index=pt.IndexFactory.of(index_ref)

In [61]:
print(index.getCollectionStatistics().toString())

Number of documents: 5
Number of terms: 22
Number of postings: 25
Number of fields: 0
Number of tokens: 26
Field names: []
Positions:   false

In [62]:
for kv in index.getLexicon():
  print("%s -> %s " % (kv.getKey(), kv.getValue().toString()))

enit5517 -> term13 Nt=1 TF=1 maxTF=1 @{0 0 0}
استرجاع -> term0 Nt=1 TF=1 maxTF=1 @{0 0 4}
اول -> term1 Nt=1 TF=1 maxTF=1 @{0 0 6}
باسءل -> term21 Nt=1 TF=1 maxTF=1 @{0 1 0}
تقان -> term6 Nt=1 TF=1 maxTF=1 @{0 1 6}
جامع -> term8 Nt=1 TF=1 maxTF=1 @{0 2 2}
درس -> term4 Nt=1 TF=1 maxTF=1 @{0 2 6}
رمز -> term14 Nt=1 TF=1 maxTF=1 @{0 3 0}
فاءده -> term15 Nt=1 TF=1 maxTF=1 @{0 3 4}
قسم -> term9 Nt=1 TF=1 maxTF=1 @{0 4 2}
قلم -> term10 Nt=1 TF=1 maxTF=1 @{0 4 6}
كلي -> term7 Nt=1 TF=1 maxTF=1 @{0 5 2}
لطلاب -> term11 Nt=1 TF=1 maxTF=1 @{0 5 6}
مرجوه -> term17 Nt=1 TF=1 maxTF=1 @{0 6 2}
معلوم -> term3 Nt=2 TF=3 maxTF=2 @{0 7 0}
مقرر -> term2 Nt=3 TF=3 maxTF=1 @{0 7 5}
موج -> term5 Nt=1 TF=1 maxTF=1 @{0 8 3}
نامل -> term16 Nt=1 TF=1 maxTF=1 @{0 8 7}
نرحب -> term19 Nt=1 TF=1 maxTF=1 @{0 9 5}
نقدم -> term18 Nt=1 TF=1 maxTF=1 @{0 10 3}
هندسه -> term12 Nt=1 TF=1 maxTF=1 @{0 11 1}
واستفسارا -> term20 Nt=1 TF=1 maxTF=1 @{0 11 5}

<h1>now we want use TF_IDF score</h1>

In [63]:
model=pt.BatchRetrieve(index_ref,wmodel='TF_IDF')

In [64]:
resultofdocno=model.search('جامع قلم خاصه')
resultofdocno

  qid  docid docno  rank     score          query
0   1      1    d1     0  1.936394  جامع قلم خاصه

<h4>print just query with its docno <h4>

In [65]:
resultofdocno[['query','docno']]

           query docno
0  جامع قلم خاصه    d1

<h2>we want to make preprocessing in query <h2>

In [66]:
q='جامعة القلمون الخاصة'
q=stem(normalize(remove_stopWords(q)))
q

' جامع قلم خاصه'

In [67]:
resultofdocno=model.search(q)
resultofdocno[['docno','query']]

  docno           query
0    d1   جامع قلم خاصه

<h5>now we want to show the docno with its (query and documents )and documents with preprocessing<h5>

In [68]:
q='مقرر استرجاع المعلومات في جامعة القلمون الخاصة'
q=stem(normalize(remove_stopWords(q)))
q

' مقرر استرجاع معلوم جامع قلم خاصه'

In [69]:
res=model.search(q)
docnoList=res['docno'].tolist()
docnoList

['d1', 'd0', 'd2']

In [70]:
myresult=docs_df[docs_df['docno'].isin(docnoList)]
myresult

,docno,raw_text,text
0,d0,هذا هو الدرس الأول من مقرر استرجاع المعلومات,درس اول مقرر استرجاع معلوم
1,d1,المقرر موجه لطلاب جامعة القلمون كلية الهندسة ق...,مقرر موج لطلاب جامع قلم كلي هندسه قسم تقان مع...
2,d2,رمز المقرر هو ENIT5517,رمز مقرر ENIT5517

In [71]:
myresult['query']=res['query']

C:\Users\asus\AppData\Local\Temp\ipykernel_1940\2981434431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  myresult['query']=res['query']

In [72]:
myresult

,docno,raw_text,text,query
0,d0,هذا هو الدرس الأول من مقرر استرجاع المعلومات,درس اول مقرر استرجاع معلوم,مقرر استرجاع معلوم جامع قلم خاصه
1,d1,المقرر موجه لطلاب جامعة القلمون كلية الهندسة ق...,مقرر موج لطلاب جامع قلم كلي هندسه قسم تقان مع...,مقرر استرجاع معلوم جامع قلم خاصه
2,d2,رمز المقرر هو ENIT5517,رمز مقرر ENIT5517,مقرر استرجاع معلوم جامع قلم خاصه